# classic ignore folders
.vscode
node_modules
package-lock.json

#Specific 
Archive
docs

# exclude data folders
json_output/*
html_output/*
input/*


# exception to the rule
!json_output/.gitkeep
!html_output/styles
!html_output/index.html
!input/.gitkeep