.logo img {
	max-height: 50px;
	margin-right: 20px;
	margin-left: 20px;
}

.header {
	padding: 20px 0;
	color: rgb(81, 116, 32);
	/* background-color: rgb(128, 191, 38); */
}

.header h1 {
	font-size: 30px;
	margin: 0;
	font-weight: 300;
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
	bottom: 0;
	width: 300px;
	padding: 30px;
	/* background-color: rgb(128, 191, 38); */
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
}
